.venv
.vscode
**/__pycache__/
**/LOCAL
**.cache
**.pytest_cache
*.pyc
*.log
*.env
**/config.json
**/client_secrets.json
**/build/
**/output/
**/logs/
**/runtime/
**/video_codec_sdk/
yolo*.pt

# Assets
assets/data/*.mp4
assets/trained_models/**/*
!assets/trained_models/*/
!assets/trained_models/**/*.pt
!assets/trained_models/**/*.engine
!assets/trained_models/**/*.onnx
!assets/trained_models/**/.gitkeep

# Recordings
videos/